body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.login {
  max-width: 300px;
  margin: auto;
}

input {
  width: 100%;
  padding: 6px;
  margin: 5px 0;
}

button {
  padding: 8px;
  margin-top: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 5px;
}

.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0B5C9E, #7EC8E3);
}

.login-card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.logo {
  width: 140px;
  margin-bottom: 15px;
}

.login-card h2 {
  color: #0B5C9E;
}

.login-card p {
  color: #555;
  font-size: 14px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-card button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #F4C430;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.login-card button:hover {
  background: #e0b020;
}

.logo-grande {
  width: 200px;   /* antes 140 */
  margin-bottom: 20px;
}

.input-bonito {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
}

.input-bonito:focus {
  border-color: #0B5C9E;
  box-shadow: 0 0 0 2px rgba(11, 92, 158, 0.2);
}

select.input-bonito {
  background-color: #fff;
  cursor: pointer;
}

.login-card button {
  background: linear-gradient(135deg, #F4C430, #e6b800);
  font-size: 16px;
  letter-spacing: 1px;
}

